*.uasset
*.uexp
*.pak
*.ucas
*.utoc
*.zip
*.bak
*.ubulk
*.bin
Wiki/
Maps/
*.psd
config.ini
*.code-workspace
__pycache__/
*.pyc
.pytest_cache/
build/staging/
build/pyinstaller/
dist/
release/
Saves/
debug.log